{# templates/chatbot/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}À propos du ChatBot{% endblock %}

{% block body %}
    <h1>À propos du ChatBot</h1>
    <p>Cette page contient des informations sur notre ChatBot.</p>
{% endblock %}
