{% extends 'base.html.twig' %}

{% block body %}

    <main class="main">

      <article class="about" id="about">
    
      <section class="cta" id="contact">
        <div class="container">

          <div class="cta-content">

            <h2 class="h2 section-title">Prêt pour un voyage inoubliable ? Pensez à nous !</h2>

            <p class="section-text">
              Découvrez une nouvelle façon de voyager avec notre agence innovante. Nous créons des expériences uniques
              adaptées à vos envies pour des souvenirs impérissables.
            </p>
          </div>

          <button class="btn btn-secondary">Contactez-nous !</button>

        </div>
      </section>

    </article>
  </main>

{% endblock %}
