<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-brand">
        <a href="#" class="logo">
          <img src="{{ asset('images/logo.svg') }}" alt="TirFly logo">
        </a>
        <p class="footer-text">
          Découvrez une nouvelle façon de voyager avec notre agence innovante. Nous allions technologie et expertise 
          pour vous offrir des expériences uniques et inoubliables à travers le monde.
        </p>
      </div>
      <div class="footer-contact">
        <h4 class="contact-title">Contactez-nous</h4>
        <p class="contact-text">N'hésitez pas à nous joindre pour toute information !</p>
        <ul>
          <li class="contact-item">
            <ion-icon name="call-outline"></ion-icon>
            <a href="tel:+21440862777" class="contact-link">+(214) 40 862 777</a>
          </li>
          <li class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>
            <a href="mailto:info.tirfly.com" class="contact-link">tirfly@gmail.com</a>
          </li>
          <li class="contact-item">
            <ion-icon name="location-outline"></ion-icon>
            <address>1 rue Cebalt, Ariana, Tunisie</address>
          </li>
        </ul>
      </div>
    <div class="footer-form">
      <p class="form-text">Contactez-nous pour toute question ou demande d'information !</p>
      <form action="" method="post" class="form-wrapper">
        <input type="email" name="email" class="input-field" placeholder="Votre email" required>
        <button type="submit" class="btn btn-secondary">Envoyer</button>
      </form>
    </div>

    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; 2025 <a href="#">TirFly</a>. Tous droits réservés.
      </p>
      <ul class="footer-bottom-list">
        <li><a href="#" class="footer-bottom-link">Politique de confidentialité</a></li>
        <li><a href="#" class="footer-bottom-link">Conditions générales</a></li>
        <li><a href="#" class="footer-bottom-link">FAQ</a></li>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      </ul>
    </div>
  </div>
</footer>
